.Users {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
    border-right: 1px solid #FFF;
}
.UsersOnline {
    padding: 20px 0;
    text-align: center;
    background-color: #ff0000;
    color: #FFF;
    text-shadow: 2px 2px #000;
    font-weight: 700;
}
.UsersList {
    margin: 0;
    padding: 0;
}
.UserItem {
    list-style: none;
    border-bottom: 1px solid #FFF;
    padding: 20px;
    margin: 0 0 0 20px;
    font-weight: 700;
    overflow-wrap: break-word;
}

@media (max-width: 767px) {
    .UsersOnline {
        padding: 10px 0;
    }
    .UserItem {
        padding: 10px;
        margin: 0 0 0 10px;
    }
}